<div id="<%= dom_id clerk %>" class="card mb-3" data-controller="clerk">
  <div class="card-header">
    <div class="row">
      <div class="col-auto">
        <% if local_assigns.has_key?(:index) %>
          <span class="badge text-secondary-emphasis bg-secondary-subtle"><%= index+1 %></span>
        <% end %>
      </div>
      <div class="col-auto fs-5">
        <%= clerk.fullname %>
      </div>
      <div class="col-auto fs-5">
        <%= clerk.gender %>
      </div>
      <div class="col-auto ms-auto">
        <div class="form-check form-switch">
          <%= form_with(model: clerk, url: inline_edit_path(clerk), method: :patch, data: { turbo: true }) do |form| %>
            <%= hidden_field_tag :resource_type, "clerk" %>
            <%= hidden_field_tag :index, local_assigns[:index] if local_assigns.has_key?(:index) %>
            <%= form.check_box :resigned, 
                class: "form-check-input", 
                data: { 
                  action: "change->clerk#toggleResigned",
                  bs_placement: "left",
                  turbo_confirm: clerk.resigned ? "是否确认该店员已复职？" : "是否确认该店员已离职？"
                } %>
            <%= form.label :resigned, class: "form-check-label" do %>
              <span class="<%= clerk.resigned ? 'text-danger' : 'text-success' %>">
                <%= clerk.resigned ? '已离职' : '在职' %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="mb-0 fs-5">
      客户倾向性：
      <b><%= clerk.customer_preference ? clerk.customer_preference : "未明" %></b>
      <button class="btn btn-outline-primary ms-4"
              type="button"
              id="edit-btn-<%= clerk.id %>"
              style="display: inline-block;"
              onclick="document.getElementById('customer-preference-edit-<%= clerk.id %>').style.display='block';this.style.display='none'">
        修改
      </button>
      <div id="customer-preference-edit-<%= clerk.id %>" style="display:none;">
        <hr />
        <%= form_with(model: clerk, url: inline_edit_path(clerk), method: :patch, local: true) do |form| %>
          <%= hidden_field_tag :resource_type, "clerk" %>
          <%= form.radio_button :customer_preference, 'A' %>
          <%= form.label :customer_preference_A, 'A', class: "me-4 ms-2 fs-5" %>
          <%= form.radio_button :customer_preference, 'B' %>
          <%= form.label :customer_preference_B, 'B', class: "me-4 ms-2 fs-5" %>
          <%= form.radio_button :customer_preference, 'C' %>
          <%= form.label :customer_preference_C, 'C', class: "me-4 ms-2 fs-5" %>
          <%= form.radio_button :customer_preference, '' %>
          <%= form.label :customer_preference_none, '不明', class: "me-4 ms-2 fs-5" %>
          <%= form.submit "保存", class: "btn btn-success ms-2" %>
          <button type="button" class="btn btn-secondary ms-2"
            onclick="
              document.getElementById('customer-preference-edit-<%= clerk.id %>').style.display='none';
              document.getElementById('edit-btn-<%= clerk.id %>').style.display='inline-block';
            ">
            取消
          </button>
        <% end %>
      </div>
    </p>
    <hr />
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">温和可信</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-2">技术专业</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-info-emphasis bg-info-subtle border border-info-subtle rounded-2">成本敏感</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">口才优秀</span>
  </div>
</div>
