<div id="<%= dom_id clerk %>" class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-auto">
        <% if local_assigns.has_key?(:index) %>
          <span class="badge text-secondary-emphasis bg-secondary-subtle"><%= index+1 %></span>
        <% end %>
      </div>
      <div class="col-auto fs-5">
        <%= clerk.fullname %>
      </div>
      <div class="col-auto fs-5">
        <%= clerk.gender %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="mb-0 fs-5">
      客户倾向性：
      <%= clerk.customer_preference ? clerk.customer_preference : "未明" %>
    </p>
    <hr />
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">温和可信</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-2">技术专业</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-info-emphasis bg-info-subtle border border-info-subtle rounded-2">成本敏感</span>
    <span class="d-inline-flex px-2 py-1 me-1 mb-1 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">口才优秀</span>
  </div>
</div>
