<%= form_with(model: [@store, @visit]) do |form| %>
  <% if @visit.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show">
      <strong><%= t('errors.template.header', 
                    count: @visit.errors.count, 
                    model: @visit.class.model_name.human) %>
      </strong>

      <ul class="m-0">
        <% @visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.rich_text_area :content, class: "form-control", rows: 10, 
                            style: "min-height: 300px; max-height: 400px; overflow-y: auto;" %>
  </div>
  <div class="row">
    <div class="actions col-6 d-grid">
      <%= form.submit class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-6 d-grid">
      <a href="#" class="btn btn-lg btn-outline-info">使用 Whisper 生成拜访记录</a>
    </div>
  </div>
<% end %> 