<div class="card my-3">
  <div class="card-header">
    <p class="fs-5 text-secondary mb-0">新建拜访记录 / 拜访人：<%= Current.user.email_address %></p>
  </div>
  <div class="card-body">
    <p class="fs-5 text-center mb-0 "><%= @store.name %></p>
  </div>
  <div class="card-footer">
    <small class="text-secondary m-0">
      今天是：<%= Date.today.strftime("%Y-%m-%d") %>
    </small>
    <%= link_to "管理该店所有拜访记录", store_visits_path(@store), class: "btn btn-sm btn-primary float-end" %>
  </div>
</div>

<%= render "form" %>
