<div class="card mt-3 mb-4">
  <div class="card-header text-center text-lg-start">
    <%= link_to @stock.store.name, dashboard_store_path(@stock.store), class: "link-offset-2" %> &gt; <%= @stock.drug.product_name %>
  </div>
  <div class="card-body text-center">
    <div class="row">
      <div class="col-6 text-center">
        <small class="text-secondary">当前药品库存</small>
        <p class="fs-1 fw-bolder mb-0"><%= @stock.quantity %></p>
      </div>
      <div class="col-6 text-center">
        <small class="text-secondary">药品分销数量</small>
        <p class="fs-1 fw-bolder mb-0"><%= @stock.distribution_quantity %></p>
      </div>
    </div>
  </div>
</div>

<% unless @logs.blank? %>
  <% @logs.each do |log| %>
    <%= render "log", log: log %>
  <% end %>
<% else %>
  <p class="text-center text-secondary">暂无库存变动记录</p>
<% end %>
