<div id="<%= dom_id stock %>">
  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p>
    <strong>Distribution quantity:</strong>
    <%= stock.distribution_quantity %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= stock.store_id %>
  </p>

  <p>
    <strong>Drug:</strong>
    <%= stock.drug_id %>
  </p>

</div>
